In [1]:
import numpy as np
import pandas as pd

In [2]:
# Load dataset:
vg_sales = pd.read_csv('./dataset/Video_Games_Sales_as_at_22_Dec_2016.csv')

In [3]:
# Check first few rows/records:
vg_sales.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Check dataset info:
vg_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         16719 non-null  float64
 6   EU_Sales         16719 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      16719 non-null  float64
 9   Global_Sales     16719 non-null  float64
 10  Critic_Score     8137 non-null   float64
 11  Critic_Count     8137 non-null   float64
 12  User_Score       7590 non-null   float64
 13  User_Count       7590 non-null   float64
 14  Developer        10096 non-null  object
 15  Rating           9950 non-null   object
dtypes: float64(10), object(6)
memory usage: 2.0+ MB

In [5]:
# Check total null values for each Column:
vg_sales.isnull().sum()

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
Publisher            54
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8582
Critic_Count       8582
User_Score         9129
User_Count         9129
Developer          6623
Rating             6769
dtype: int64

In [6]:
# Check the two games with no name:
vg_sales[vg_sales.Name.isnull()]

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
659,NaN,GEN,1993.0,NaN,Acclaim Entertainment,1.78,0.53,0.00,0.08,2.39,NaN,NaN,NaN,NaN,NaN,NaN
14246,NaN,GEN,1993.0,NaN,Acclaim Entertainment,0.00,0.00,0.03,0.00,0.03,NaN,NaN,NaN,NaN,NaN,NaN

* The missing names must have been a result of error in data collection due to the fact that this data are scraped from the web.

### Cleaning Year_of_Release Column

* What I did here is to fill the missing values in the Year_of_Release column based on the average year for each Platform.

In [7]:
# Check the different unique platforms:
vg_sales['Platform'].unique()

array(['Wii', 'NES', 'GB', 'DS', 'X360', 'PS3', 'PS2', 'SNES', 'GBA',
       'PS4', '3DS', 'N64', 'PS', 'XB', 'PC', '2600', 'PSP', 'XOne',
       'WiiU', 'GC', 'GEN', 'DC', 'PSV', 'SAT', 'SCD', 'WS', 'NG', 'TG16',
       '3DO', 'GG', 'PCFX'], dtype=object)

In [8]:
# Group Year_of_Release column by Platform
grouped = vg_sales.groupby('Platform')['Year_of_Release']

In [9]:
# Function to fill the missing values in the Year_of_Release column based on the average year for each Platform:
fill_na = lambda g: g.fillna(g.mean())

In [10]:
# Apply the function to for each group to fill missing values by the average year for each Platform:
cleaned_yor = grouped.apply(fill_na)

In [11]:
# Check the total number of missing values in Year_of_Release column.
cleaned_yor.isnull().sum()

0

In [12]:
# Update the Year_of_Release column in original DataFrame with the cleaned one:
vg_sales['Year_of_Release'] = cleaned_yor

## Cleaning Publisher Column
* In this section, I replaced some missing Publisher values by their corresponding non-NaN value in Developer column. I think this makes sense as Developer and Publisher column both put the finished game on the market for the world to play (this is also true with solo developers).

* I also dropped the Developer column for its high number of NaN values and I just stick with the Publisher column to describe who published/developed the game.

In [13]:
# Check total NaN values for Publisher: 
vg_sales.isnull().sum()

Name                  2
Platform              0
Year_of_Release       0
Genre                 2
Publisher            54
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8582
Critic_Count       8582
User_Score         9129
User_Count         9129
Developer          6623
Rating             6769
dtype: int64

In [14]:
# Replace missing Publisher by their corresponding Developer
vg_sales.loc[vg_sales.Publisher.isnull(), 'Publisher'] = vg_sales['Developer']

In [15]:
vg_sales.drop('Developer', axis=1, inplace=True)

In [16]:
vg_sales.isnull().sum()

Name                  2
Platform              0
Year_of_Release       0
Genre                 2
Publisher            45
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8582
Critic_Count       8582
User_Score         9129
User_Count         9129
Rating             6769
dtype: int64